h1{
  text-align: center;
  color: darkblue;
}
h2{
  text-align: center;
  color: darkblue;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-image: url("../img/autumn.jpg");
}
.me{
  color: maroon;
  background-color: pink;
}
.fork {
  background-color: lightgreen;
}
body {
  margin: 60px;
}
